## Задание

1. Загрузите выборку из файла titanic.csv с помощью пакета Pandas.<p>
2. Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).<p>
3. Обратите внимание, что признак Sex имеет строковые значения.
4. Выделите целевую переменную — она записана в столбце Survived.<p>
5. В данных есть пропущенные значения — например, для некоторых пассажиров неизвестен их возраст. Такие записи при чтении их в pandas принимают значение nan. Найдите все объекты, у которых есть пропущенные признаки, и удалите их из выборки.<p>
6. Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию (речь идет о параметрах конструктора DecisionTreeСlassifier).<p>
7. Вычислите важности признаков и найдите два признака с наибольшей важностью. Их названия будут ответами для данной задачи (в качестве ответа укажите названия признаков через запятую или пробел, порядок не важен).<p>

In [1]:
import pandas
dataStart = pandas.read_csv('titanic.csv', index_col='PassengerId')

In [2]:
dataStart.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Создадим таблицу с необходимыми признаками

In [3]:
data = dataStart[['Pclass', 'Fare', 'Age', 'Sex', 'Survived']]

In [4]:
data.head()

             Pclass     Fare   Age     Sex  Survived
PassengerId
1                 3   7.2500  22.0    male         0
2                 1  71.2833  38.0  female         1
3                 3   7.9250  26.0  female         1
4                 1  53.1000  35.0  female         1
5                 3   8.0500  35.0    male         0

Уберем пропущенные значения

In [5]:
data = data.dropna()

Выделим целевую переменную - выжил / не выжил пассажир после крушения

In [6]:
dataX = data[['Pclass', 'Fare', 'Age', 'Sex']]
dataY = data['Survived']

Заменим строковую переменную "Sex" на 0 (мужчина) и 1 (женщина)

In [7]:
dataX.Sex = dataX.Sex.apply(lambda x: 0 if (x == 'male') else 1)

C:\Users\mv-kovalenko\AppData\Local\Continuum\Anaconda2\lib\site-packages\pandas\core\generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

Обучим модель решающего дерева

In [8]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier
X = dataX
y = dataY
clf = DecisionTreeClassifier(random_state=241)
clf.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=241, splitter='best')

Рассмотрим важности признаков

In [9]:
clf.feature_importances_

array([ 0.14751816,  0.29538468,  0.25658495,  0.30051221])

Признаки цены билета и пола являются наиболее информативными. Это можно легко интерпретировать: при крушении корабля в первую очередь спасали женщин и пассажиров с наиболее дорогими билетами